@{
    ViewBag.Title = "Hello World!";
}

<div class="row">
    <div class="col-md-6 col-xs-8">
        <h1>Our World - @ViewBag.Title</h1>
        <p>This will be an awesome website soon!</p>

        <form class="form-group">
            <div>
                <label>Date</label>
                <input class="form-control"/>
            </div>
            <div>
                <label>Location</label>
                <input class="form-control"/>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>

    <div class="col-md-6 col-xs-4">
        <h2>The Map</h2>
    </div>
</div>